body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    color: wheat;
}

#p{
    text-align: center;
}

input{
    margin-top: 100px;
    height: 50px;
    width: 240px;
}

button{
    margin-top: 100px;
    height: 55px;
    width: 42px;
    background-color: gray;
    border: none;
}

button:hover{
    border: 2px solid rgb(0, 255, 0);
    box-shadow: 0 0 30px rgb(0, 255, 0);
}

.name{
    position: absolute;
    bottom: 70px;
    left: 10px;
    font-size: 10px;
    font-family: sans-serif;
}
